a {
    color: white;
}

li:hover {
    background-color: #4c67dc;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

li {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

nav {
    background-color: #2e50d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

h {
    font-size: small;
}