<div class="banner">
  <div class="banner-img-container">
    <img
      src="assets/img/principal/fondo_banner1.jpg"
      alt="Imagen de fondo del banner"
      id="banner-img"
    />
  </div>
  <h1>BayMax</h1>
  <h4>Una nueva forma de cuidar tu salud</h4>
</div>
<div class="video-container">
  <iframe
    width="100%"
    height="415"
    [src]="'https://www.youtube.com/embed/9XaS93WMRQQ'"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture"
    allowfullscreen
  ></iframe>
</div>
<section class="appointment-section">
  <div class="appointment-container">
    <h2>Agenda una cita en nuestra farmacia</h2>
    <p>
      Para agendar una cita en nuestra farmacia, sigue los siguientes pasos:
    </p>
    <br />
    <ol>
      <li>
        <span>1</span> Ingresa a nuestra página web y selecciona la opción de
        "Solicita cita".
      </li>
      <br /><br />
      <li><span>2</span> Llena tus datos personales en el formulario.</li>
      <br /><br />
      <li>
        <span>3</span> Selecciona la fecha y la hora que más te convenga para tu
        cita.
      </li>
      <br /><br />
      <li>
        <span>4</span> ¡Listo! Te esperamos en nuestra farmacia el día y hora
        que señalaste.
      </li>
    </ol>
  </div>
</section>