<div class="banner">
  <div class="banner-img-container">
    <img
      src="../../assets/img/fondo_banner1.jpg"
      alt="Imagen de fondo del banner"
      id="banner-img"
    />
  </div>
  <h2 style="color: rgb(62, 62, 231); font-weight: bold;">BayMax</h2>
  <h4>Una nueva forma de cuidar tu salud</h4>
</div>
<div class="container">
  <div class="jumbotron mt-4">
      <h3 class="display-4">BayMax: Tu Socio en el Cuidado de la Salud</h3>
      <p class="lead">Más que una farmacia; somos tu aliado en el cuidado de la salud. Brindamos servicios integrales que van más allá de la simple dispensación de medicamentos.</p>
  </div>

  <div class="row">
      <div class="col-md-8">
          <h3>Nuestros Servicios</h3>
          <p>En BayMax, nos enorgullece ofrecer consultas médicas de alta calidad con nuestro equipo de profesionales capacitados. Agenda tus citas médicas fácilmente a través de nuestra plataforma en línea.</p>
          <p>Mantenemos un expediente médico en línea seguro y confiable, brindándote acceso rápido a tu historial de salud. Además, ofrecemos información completa sobre medicamentos para mantenerte bien informado.</p>
      </div>
      <div class="col-md-4">
          <h3>Contacto</h3>
          <p>Para comunicarte con nostros, <a routerLink="/contacto">haz clic aquí</a></p>
      </div>
  </div>

  <div class="row mt-4">
      <div class="col-md-12">
          <h3>Únete a Nuestra Comunidad</h3>
          <p>Síguenos en redes sociales para mantenerte informado sobre noticias, consejos de salud y eventos especiales:</p>
          <p>
              <a href="#" class="btn btn-primary">Facebook</a>
              <a href="#" class="btn btn-info mx-2">Twitter</a>
              <a href="#" class="btn btn-danger">Instagram</a>
          </p>
      </div>
  </div>

  <div class="row mt-4">
      <div class="col-md-12">
          <p>En BayMax, tu salud es nuestra prioridad. Confía en nosotros para ofrecerte atención médica de calidad y servicios que superan tus expectativas. ¡Bienvenido a BayMax, tu socio en el cuidado de la salud!</p>
      </div>
  </div>
</div>
<section class="appointment-section">
  <div class="appointment-container">
    <h3>¡Agenda una cita con nuestros doctores!</h3>
    <p>
      Para agendar una cita, sigue los siguientes pasos:
    </p>
    <br />
    <ol>
      <li>
        <span>1</span> Ingresa a tu cuenta y selecciona la opción de <a routerLink="/doctores">Doctores</a>.
      </li>
      <br /><br />
      <li>
        <span>2</span> Con el doctor que elijas, selecciona la fecha y la hora que más te convenga para tu
        cita.
      </li>
      <br /><br />
      <li>
        <span>3</span> ¡Listo! El doctor será notificado del día y hora
        que señalaste.
      </li>
    </ol>
  </div>
</section>