<div class="container mt-4">
  <h3 class="mb-4">Conoce a nuestros especialistas</h3>

  <p>
    Tener a los mejores especialistas en el área de la salud es nuestra
    prioridad. Por eso, te presentamos a nuestros médicos.
  </p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Especialidad</th>
      <th *ngIf="usuario.tipo == 'paciente'">Seleccionar Fecha</th>
      <th *ngIf="usuario.tipo == 'paciente'">Seleccionar Hora</th>
      <th *ngIf="usuario.tipo == 'paciente'">Agendar Cita</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of combinedList; let i = index">
      <td *ngIf="doctor.usuario">
        {{ doctor.usuario.nombre + ' ' + doctor.usuario.apellido_P}}
      </td>
      <td>{{ doctor.especialidad }}</td>
      <td *ngIf="doctor.usuario?.tipo === 'paciente'">
        <mat-form-field>
          <mat-label>Selecciona una fecha</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="doctor.selectedDate" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td *ngIf="doctor.usuario?.tipo === 'paciente'">
        <select [(ngModel)]="selectedTime" name="selectedTime">
          <option *ngFor="let hora of horasDisponibles" [value]="hora.value">{{ hora.display }}</option>
        </select>
      </td>
      <td *ngIf="doctor.usuario?.tipo === 'paciente'">
        <button (click)="capturar(i)">Agendar cita</button>
      </td>
    </tr>
    
  </tbody>
</table>
  <div id="iframeContainer"></div>
</div>
