<!-- footer.component.html -->
<footer class="footer mt-4" style="background-color: rgb(30, 30, 120); color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Nuestros Servicios</h3>
          <ul>
            <li>Consultas Médicas</li>
            <li>Programación de Citas</li>
            <li>Expedientes Médicos en Línea</li>
            <li>Historial de Citas</li>
            <li>Información sobre medicamentos</li>
            
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <p>Dirección: [Tu dirección]</p>
          <p>Teléfono: [Tu número de teléfono]</p>
          <p>Email: [Tu dirección de correo electrónico]</p>
        </div>
        <div class="col-md-4">
          <h3>Síguenos en Redes Sociales</h3>
          <!-- Agrega enlaces a tus perfiles de redes sociales aquí -->
          <a href="#">Facebook</a> <br>
          <a href="#">Twitter</a> <br>
          <a href="#">Instagram</a> <br>
        </div>
      </div>
    </div>
  </footer>
  