<!-- footer.component.html -->
<footer class="footer mt-4" style="background-color: rgb(30, 30, 120); color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-white">
          <h3>Nuestros Servicios</h3>
          <a class="text-white-50" routerLink="/">Consultas Médicas</a><br>
          <a class="text-white-50" routerLink="/">Programación de Citas</a><br>
          <a class="text-white-50" routerLink="/">Expedientes Médicos en Línea</a><br>
          <a class="text-white-50" routerLink="/">Historial de Citas</a><br>
          <a class="text-white-50" routerLink="/medicamentos">Información sobre medicamentos</a>
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <p>Dirección: [Tu dirección]</p>
          <p>Teléfono: [Tu número de teléfono]</p>
          <p>Email: [Tu dirección de correo electrónico]</p>
        </div>
        <div class="col-md-4">
          <h3>Síguenos en Redes Sociales</h3>
          <!-- Agrega enlaces a tus perfiles de redes sociales aquí -->
          <a href="#">Facebook</a> <br>
          <a href="#">Twitter</a> <br>
          <a href="#">Instagram</a> <br>
        </div>
      </div>
    </div>
  </footer>
  