<!-- footer.component.html -->
<footer class="footer mt-4" style="background-color: rgb(30, 30, 120); color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-white">
          <h4>Nuestros Servicios</h4>
          <a class="text-white-50" routerLink="/">Consultas Médicas</a><br>
          <a class="text-white-50" routerLink="/">Programación de Citas</a><br>
          <a class="text-white-50" routerLink="/">Expedientes Médicos en Línea</a><br>
          <a class="text-white-50" routerLink="/">Historial de Citas</a><br>
          <a class="text-white-50" routerLink="/medicamentos">Información sobre medicamentos</a>
        </div>
        <div class="col-md-4">
          <h4>Contacto</h4>
          <p>Para comunicarte con nostros, <a routerLink="/contacto">haz clic aquí</a></p>
        </div>
        <div class="col-md-4">
          <h4>Síguenos en Redes Sociales</h4>
          <!-- Agrega enlaces a tus perfiles de redes sociales aquí -->
          <a href="#">Facebook</a> <br>
          <a href="#">Twitter</a> <br>
          <a href="#">Instagram</a> <br>
        </div>
      </div>
    </div>
  </footer>
  